@import "tailwindcss";

:root {
  --background: #ffffffc1;
  --foreground: #ffffffcd;
  --primary: #1e2231;
  --secondary: #ff6900;
;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(255, 255, 255, 0.855);
    --foreground: #ededede1;
    --primary: #1e2231;
    --secondary: #ff6900;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins, Helvetica, sans-serif;
}
